{{ $data := index .Site.Data .Site.Language.Lang }} 
{{- if $data.cta.cta.enable }}
{{- with $data.cta.cta }}
<section class="call-to-action section bg-opacity" style="background-image: url('{{ .bgImage | absURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 text-center mx-auto">
        <h2 class="subheading text-white" style="font-weight:bold">{{ .title | markdownify }}</h2>
        <p class="text-white">{{ .content | markdownify }}</p>
        <div style="margin: 0 auto;">
            <button class="btn btn-facebook" onclick="window.open('https://www.facebook.com/DyfiTamilNadu','_blank')">{{ .button | markdownify }}</button>
        </div><!-- /input-group -->
      </div>
    </div>
  </div>
</section><!-- #call-to-action close -->
{{- end }}
{{- end }}
